# CLEAN UP DATA FOR AIRPORT CODES

In [1]:
import pandas as pd
import numpy as np

In [29]:
# Read csv into dataframe

data = pd.read_csv('airports.csv')

In [33]:
data.shape

(7698, 14)

In [40]:
data.sample(5)

,AirportID,Name,City,Country,IATA,ICAO,Latitude,Longitude,Altitude,Timezone,DST,Tz_database_time_zone,Type,Source
395,399,Braunschweig-Wolfsburg Airport,Braunschweig,Germany,BWE,EDVE,52.319199,10.556100,295,1,E,Europe/Berlin,airport,OurAirports
7247,12010,Rtishchevo Air Base,Rtishchevo,Russia,\N,XWPR,52.297317,43.724100,673,\N,\N,\N,airport,OurAirports
3774,3985,Al Badie Airport,Al Badie,Yemen,\N,OYBA,18.719299,50.836899,908,3,U,Asia/Aden,airport,OurAirports
3547,3747,Chicago Midway International Airport,Chicago,United States,MDW,KMDW,41.785999,-87.752403,620,-6,A,America/Chicago,airport,OurAirports
1170,1201,Osijek-Čepin Airfield,Cepin,Croatia,\N,LDOC,45.542778,18.631944,299,1,E,Europe/Zagreb,airport,OurAirports

In [36]:
data.isnull().sum()

AirportID                 0
Name                      0
City                     49
Country                   0
IATA                      0
ICAO                      0
Latitude                  0
Longitude                 0
Altitude                  0
Timezone                  0
DST                       0
Tz_database_time_zone     0
Type                      0
Source                    0
dtype: int64

* 49 records of City column are null. IATA column has '\N' values in a number of rows
* Let's clean up

In [44]:
clean_airport_codes = data.dropna()

In [45]:
clean_airport_codes.shape

(7649, 14)

In [47]:
# The null values are gone

clean_airport_codes.isna().sum()

AirportID                0
Name                     0
City                     0
Country                  0
IATA                     0
ICAO                     0
Latitude                 0
Longitude                0
Altitude                 0
Timezone                 0
DST                      0
Tz_database_time_zone    0
Type                     0
Source                   0
dtype: int64

In [60]:
# Let's take care of the "\N" values

clean_airport_codes = clean_airport_codes[clean_airport_codes['IATA'] !='\\N']

In [61]:
clean_airport_codes.shape

(6033, 14)

In [68]:
# We actually need a few columns - Name, City, Country, and IATA
# Let's retain these columns and discard the rest

clean_airport_codes = clean_airport_codes[['Name','City','Country','IATA']]

In [71]:
# Let's stay with only international airports


clean_airport_codes = clean_airport_codes[clean_airport_codes['Name'].str.contains('International')]

In [72]:
#Check shape of final data

clean_airport_codes.shape

(886, 4)

In [74]:
# reconfirm no null values

clean_airport_codes.isnull().sum()

Name       0
City       0
Country    0
IATA       0
dtype: int64

In [76]:
#Confirm there're no duplicates

clean_airport_codes.duplicated().sum()

0

In [77]:
# save clean data

clean_airport_codes.to_csv('clean_airport_codes.csv', index=False)